.container {
  justify-content: center;
  max-width: 800px;
  display: grid;
}

.linked {
  transition: transform 0.2s}

.linked:hover {transform: scale(1.1);}

.imageIcon:hover {transform: scale(1.5);}